@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

:root {
    --cor-fundo: #4D4646;
    --cor-texto: #EDE4E0;
    --cor-bordas: #DEAB73;
    --cor-acao: #7FCD91;
    --cor-destaque: #9F8772;
    --cor-avaliacoes: #202124;

    --fonte-primaria: 'Quicksand', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 60px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 600;

    text-decoration: none;

}