.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.principal__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
    padding: 0% 15%;
    margin: 2% 0% 2% 0%;
}

.principal__subtitulo {
    font-size: 1.25rem;
    font-family: var(--fonte-primaria);
    padding: 0% 0% 2% 0%;

}

.principal__clientes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:16px;
}

.principal__clientes__comentarios {
    width: 35%;
}

table {
    width: 75%;
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    padding: 0% 5%;
    text-align: center;
    color: var(--cor-texto);
}

td {
    text-align: left;
    padding: 0% 10% 0% 0%;
  }

th {
    text-align: right;
}

.icones {
    display: flex;
    width: 70%;
}

.image {
    width: 50%;
}

.principal__restaurantes {
    display: flex;
    justify-content: space-between;
    gap: 5%;
    padding: 0% 0% 2% 0%;
}

.principal__restaurantes__texto {
    font-family: var(--fonte-primaria);
    font-size: 1rem;
    color: var(--cor-texto);
    text-align: center;
}



@media (max-width: 1200px) {

    .principal__titulo {
        font-size: 1.5rem;
        padding: 0% 0% 2% 0%;
    }

    .principal__subtitulo {
        text-align: center;
        padding: 0% 0% 5% 0%;
    }

    td {
        font-size: 1.25rem;
    }

    .icones {
        flex-wrap: wrap;
        gap: 32px;
    }

    .image {
        width: 60px;
    }

    .principal__clientes {
        padding: 5% 0% 10% 0%;
    }

    .principal__clientes__comentarios {
        width: 95%;
    }

    .principal__restaurantes {
      flex-direction: column;
    }

    .principal__restaurantes__imagem {
        width: 200px;
        margin: auto;
        display: block;
    }

    .principal__restaurantes__bloco {
        padding: 10% 0% 10% 0%;
    }

}