@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

:root {
    --cor-fundo: #4D4646;
    --cor-texto: #EDE4E0;
    --cor-bordas: #DEAB73;
    --cor-acao: #7FCD91;
    --cor-hover: #C8DBBE;
    --cor-destaque: #9F8772;
    --cor-avaliacoes: #202124;

    --fonte-primaria: 'Quicksand', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
}

.cabecalho {
    padding: 2% 15% 5% 15%;
    background-color: var(--cor-destaque);
    background: linear-gradient(180deg, rgba(159,135,114,1) 0%, rgba(77,70,70,1) 95%);
}

.cabecalho__menu {
    display: flex;
    justify-content: space-between;
}

.cabecalho__menu__link {
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--cor-texto)
}

.cabecalho__menu__link:hover {
    color: var(--cor-acao);
    font-size: 1.75rem
}

.apresentacao {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0% 10%;
    gap: 100px;
}

.apresentacao__principal {
    width: 50%;
    order: 1;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.apresentacao__principal__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
    font-weight: 600;
    text-align: center;
}

.apresentacao__principal__texto {
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
}

.apresentacao__imagem {
    width: 30%;
    align-self: center;
    order: 1;
}

.apresentacao__secundario {
    width: auto;
    order: 2;
    display: flex;
    flex-direction: column;
    gap: 32px;
    text-align: center;
}

.apresentacao__secundario__titulo {
    font-family: var(--fonte-primaria);
    font-size: 2.25rem;
    font-weight: 600;
}

.apresentacao__secundario__texto {
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    gap: 32px;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    margin: 5% 0% 5% 0%;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 600;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao {
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    background-color: var(--cor-acao);
    color: var(--cor-fundo);
    border-radius: 8px;
    padding: 21.5px 0;
    width: 25%;
    gap: 16px;
    display: flex;
    justify-content: center;
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-hover);
    font-size: 1.75rem;
    border: 2px solid var(--cor-bordas);
}

.rodape {
    background-color: var(--cor-destaque);
    background: linear-gradient(0deg, rgba(159,135,114,1) 0%, rgba(77,70,70,1) 85%);
    padding: 5% 0% 1% 0%;
    text-align: center;
    font-family: var(--fonte-primaria);
    font-size: 1rem;
    font-weight: 600;
    color: var(--cor-texto);
}


@media (max-width: 1200px) {

    .cabecalho {
        padding: 5% 5% 20% 5%;
    }

    .cabecalho__menu {
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 13px;
    }

    .apresentacao {
        flex-direction: column;
    }  

    .apresentacao__principal {
        width: 100%;
        order: 2;
    }
    
    .apresentacao__imagem {
        width: 100%;
        order: 1;
    }

    .apresentacao__secundario {
        width: 100%;
        order: 2;
    }

    .apresentacao__links {
        padding: 15% 0% 5% 0%;
    }

    .apresentacao__links__subtitulo {
        text-align: center;
    }

    .apresentacao__links__navegacao {
        width: 95%;
    }

    .rodape {
        padding: 30% 0% 5% 0%;    
    }
}